@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Prompt&display=swap');

* {
    box-sizing: border-box;
}

body {
    max-width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

h1 {
    font-family: 'Kanit', sans-serif;
}

#map {
    text-align: center;
    justify-content: center;
    margin: 1em auto;
    border: 2px solid black;
}


.btn {
    font-family: 'Prompt', sans-serif;
    margin-top: 1.5em;
}

label {
    font-family: 'Prompt', sans-serif;
    margin: 10px;
    font-size: 1.3em;
}

.search-container {
    display: flex;
    text-align: center;

}

.input {
    text-align: center;
    justify-content: center;
    margin: auto auto 1em;
}

p {
    font-family: 'Prompt', sans-serif;

}

table {
    max-width: 70%;
    margin: auto;

}

.hide {
    display: none;
}